* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Display flex on body/main part of sticky footer */
body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}   
main {
margin-left: auto;
margin-right: auto;
width: 75%;
flex: 1 0 auto;
}
.input-field {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
}
.input-field textarea {
    width: 100%;
    height: 25%;
    overflow: hidden;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin-left: 1em;
    color: white;
}

.story-log {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}
.story-log p {
    padding-top: 1em;
}

#stats-container, #items-container, #interact-container {
height: 12em;
color:white;
padding: 1em 1em;
font-size: medium;
}
#stats-container p, #items-container p, #interact-container p {
    padding-bottom: 0.5em;
}  

h5 {
color: white;
}
.containerStart {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game-name {
    font-weight: bold;
    font-size: x-large;
}
.start-title {
    font-size: 100px;
    font-family: Papyrus, fantasy;
    font-weight: bolder;
}