* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Display flex on body/main part of sticky footer */
body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}   
main {
margin-left: auto;
margin-right: auto;
width: 75%;
flex: 1 0 auto;
}
.input-field {
    width: 100%;
    /* height: 5em; */
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    display: flex;
    align-items: end;
    justify-content: start;
    /* padding-bottom: 2em; */

}
.input-field textarea {
    width: 100%;
    height: 25%;
    overflow: hidden;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin-left: 1em;
    color: white;
}
/* .player-info {
display: flex;
justify-content: start;
flex-basis: 1; */
/* border: 1px solid white; */
/* padding: 1em 1em;
} */
/* .player-info h3 {
    color: white;
} */

.story-log {
    width: 100%;
    /* height: 50vh; */
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    color: white;
    display: flex;
    flex-direction: column-reverse;
    /* padding: 2em; */
}
.story-log p {
    padding-top: 1em;
}

#stats-container, #items-container, #interact-container {
height: 12em;
/* width: 1em; */
color:white;
/* padding: 1em 1em; */
font-size: medium;
}
#stats-container p, #items-container p, #interact-container p {
    padding-bottom: 0.5em;
}  

h5 {
color: white;
}
.containerStart {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }